.DS_Store
*.pyc


/ue427_template/Saved
/ue427_template/Intermediate
/template_427


/bin
/blender_env
/build
/demos
/DatasmithBlenderContent/Binaries
/DatasmithBlenderContent/Intermediate
/export
/screenshots
/startup
/www
/template_53