.DS_Store
*.pyc


/ue427_template/Saved
/ue427_template/Intermediate


/blender_env
/build
/addons
/demos
/DatasmithBlenderContent/Binaries
/DatasmithBlenderContent/Intermediate
/export
/screenshots
/startup
/www