.DS_Store
*.pyc


/ue_template/Saved
/ue_template/Intermediate
/ue_template/DerivedDataCache
/samples


/bin
/blender_env
/build
/demos
/DatasmithBlenderContent/Binaries
/DatasmithBlenderContent/Intermediate
/export
/screenshots
/startup
/www
